<p>TOP Level Component</p>

<div class="form-group">
  <label for=""></label>
  <input
    type="text"
    class="form-control"
    name=""
    id=""
    aria-describedby="helpId"
    placeholder=""
    [(ngModel)]="topLevelString"
  />
</div>
<button type="button" name="" id="" class="btn btn-primary" (click)="Add()">
  Add Data Level
</button>

<div class="container">
  <div class="row">
    <div class="col-6"><app-c-top-child1></app-c-top-child1></div>
    <div class="col-6"><app-c-top-child2></app-c-top-child2></div>
  </div>
</div>
